
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@@</span>
    <input type="text" id="user-name" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>

<p class="well">
	Filter these events:
</p>

<div class="userstream-events">
	<!-- Begin events -->

	<h2>User Events</h2>
	<input type="checkbox" name="LoggedUserProfileUpdated"/>

	<h2>Tweet Events</h2>
	<input type="checkbox" name="TweetCreatedByMe"/>
	<input type="checkbox" name="TweetCreatedByFriend"/>
	<input type="checkbox" name="TweetCreatedByAnyone"/>
	<input type="checkbox" name="TweetCreatedByAnyoneButMe"/>
	<input type="checkbox" name="TweetFavouritedByMe"/>
	<input type="checkbox" name="TweetFavouritedByAnyone"/>
	<input type="checkbox" name="TweetFavouritedByAnyoneButMe"/>
	<input type="checkbox" name="TweetUnFavouritedByMe"/>
	<input type="checkbox" name="TweetUnFavouritedByAnyone"/>
	<input type="checkbox" name="TweetUnFavouritedByAnyoneButMe"/>

	<h2>Message Events</h2>
	<input type="checkbox" name="MessageSent"/>
	<input type="checkbox" name="MessageReceived"/>

	<p>
		...
	</p>
	<p>
		These are just some of the events possible with UserStream. More information on each of the events can be found on <a href="https://github.com/linvi/tweetinvi/wiki/User-Streams">GitHub</a>
	</p>
</div>

<hr/>